---
layout: default
---

<div class="section section-video">
  {% include video.html %}
</div>

<div class="main-sections">
  <div class="section section-about">
    {% include about.html %}
  </div>

  <div class="section section-score">
    {% include score.html %}
  </div>

  <div class="section section-process">
    {% include process.html %}
  </div>

  <div class="section section-photos">
    {% include photos.html %}
  </div>

  <div class="trigger-color t0" data-color="black"></div>
  <div class="trigger-color t1" data-color="indigo"></div>
  <div class="trigger-color t2" data-color="white"></div>
  <div class="trigger-color t3" data-color="blue"></div>
  <div class="trigger-color t4" data-color="green"></div>
  <div class="trigger-color t5" data-color="violet"></div>
  <div class="trigger-color t6" data-color="yellow"></div>
  <div class="trigger-color t7" data-color="red"></div>
  <div class="trigger-color t8" data-color="blue"></div>
  <div class="trigger-color t9" data-color="black"></div>
</div>
