---
layout: default
---

<div class="section section-video">
  {% include video.html %}
</div>

<div class="main-sections">

  <div class="interactive">
    <div class="plinth" style="top: 17%; left: 25%;"></div>
    <div class="plinth" style="top: 67%; left: 26%;"></div>
    <div class="plinth" style="top: 28%; left: 29%;"></div>
    <div class="plinth" style="top: 82%; left: 31%;"></div>
    <div class="plinth" style="top: 69%; left: 40%;"></div>
    <div class="plinth" style="top: 79%; left: 49%;"></div>
    <div class="plinth" style="top: 15%; left: 50%;"></div>
    <div class="plinth" style="top: 25%; left: 56%;"></div>
    <div class="plinth" style="top: 21%; left: 69%;"></div>
    <div class="plinth" style="top: 59%; left: 65%;"></div>
    <div class="plinth" style="top: 81%; left: 62%;"></div>
  </div>

  <div class="main-sections__content">
    <div class="section section-about">
      {% include about.html %}
    </div>

    <div class="section section-photos">
      {% include photos.html %}
    </div>

    <div class="section section-process">
      {% include process.html %}
    </div>

    <div class="section section-score">
      {% include score.html %}
    </div>
  </div>

  <div class="trigger-color t0" data-color="black"></div>
  <div class="trigger-color t1" data-color="indigo"></div>
  <div class="trigger-color t2" data-color="blue"></div>
  <div class="trigger-color t3" data-color="green"></div>
  <div class="trigger-color t4" data-color="violet"></div>
  <div class="trigger-color t5" data-color="yellow"></div>
  <div class="trigger-color t6" data-color="red"></div>
  <div class="trigger-color t7" data-color="blue"></div>
  <div class="trigger-color t8" data-color="black"></div>
</div>
