<img class="down-arrow" src="{{ site.baseurl }}/assets/icons/arrow.svg"/>

<h1><span class="kern-wa">W</span><span class="kern-av">a</span>ve <span class="kern-fa">F</span>a<span class="kern-nf">n</span><span class="kern-fa">f</span>a<span class="kern-re">r</span>e</h1>

<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>

<img src="{{ site.baseurl }}/assets/images/22255030_10100921754773049_3041732818150079486_o.jpg"/>
