<h1>Photos</h1>

<div class="main-carousel">
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4176-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/Fanfare IV 10.2017-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4104-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4129-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4154-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/Fanfare III 10.2017-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4213-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4225-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4283-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4304-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4308-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4312-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4320-min.jpg" />
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/photos/IMG_4350-min.jpg" />
  </div>
</div>
