<h1>Process</h1>

<h3>Wave Generator</h3>
<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>

<h3>Pendulum</h3>
<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>

<h3>Feedback Trombone</h3>
<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>

<h3>Mobile Phones</h3>
<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>

<h3>Interactive Lighting</h3>
<p>
  Wave Fanfare is a performance event featuring original music by Jeff Snyder for the Princeton Laptop Orchestra, Tilt Brass, and Sō Percussion, interacting with an architectural installation by Axel Kilian and Ryan Luke Johns from the Princeton University School of Architecture, and a lighting installation by Tony Award-nominated theatrical lighting designer Jane Cox.
</p>
