<h1>Score</h1>

<div class="main-carousel">
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-01.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-02.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-03.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-04.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-05.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-06.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-07.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-08.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-09.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-10.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-11.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-12.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-13.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-14.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-15.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-16.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-17.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-18.jpg"/>
  </div>
  <div class="carousel-cell">
    <img src="{{ site.baseurl }}/assets/images/score/WaveFanfare_2017_Snyder_score-19.jpg"/>
  </div>
</div>


<p>The pdf version is available <a href="{{ site.baseurl }}/assets/pdf/WaveFanfare_2017_Snyder_score.pdf" target="_blank">here</a>.</p>
