html, body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.container {
  max-width: 100%;

  h1 {
    text-transform: uppercase;
    text-align: center;

    font-size: 72px;
    font-weight: 600;
    margin-bottom: 60px;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    max-width: 600px;
    margin: 0 auto;
  }

  h3 + p {
    margin-top: 1em;
  }

  p, img {
    display: block;
    margin: 3em auto;
    max-width: 600px;
  }

  p {
    letter-spacing: 0.025em;
    line-height: 1.4;
  }
}

.pdfobject-container {
  max-width: 100%;
  width: 600px;
  margin: 3em auto;
  height: calc(90vh - 120px);
}

.main-carousel {
  width: 100%;

  .carousel-cell {
    max-width: 600px;
    margin: 0 30px;
  }
}

.kern-wa {
  margin-right: -0.08em;
}

.kern-av {
  margin-right: -0.11em;
}

.kern-fa {
  margin-right: -0.08em;
}

.kern-nf {
  margin-right: -0.04em;
}

.kern-re {
  margin-right: -0.02em;
}

.section {
  min-height: 100vh;
}

.section-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    padding: 60px;
  }
}

.color-indigo {
  background-color: #4332CF !important;
}
.color-white {
  background-color: white !important;
  color: black;
}
.color-blue {
  background-color: #2F8FED !important;
}
.color-green {
  background-color: #4DCF42 !important;
}
.color-violet {
  background-color: #7A4EAB !important;
}
.color-yellow {
  background-color: #FAEB33 !important;
  color: black;
}
.color-red {
  background-color: #F2293A !important;
}
.color-black {
  background-color: black;
}

.trigger-color {
  position: absolute;
  pointer-events: none;
  height: 90px;
  &.t0 {
    top: 0;
  }
  &.t1 {
    top: 10%;
  }
  &.t2 {
    top: 20%;
  }
  &.t3 {
    top: 30%;
  }
  &.t4 {
    top: 40%;
  }
  &.t5 {
    top: 50%;
  }
  &.t6 {
    top: 60%;
  }
  &.t7 {
    top: 70%;
  }
  &.t8 {
    top: 80%;
  }
  &.t9 {
    top: 90%;
  }
}

.main-sections {
  position: relative;
  display: inline-block;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
  transition: background-color 5s linear, color 2.5s linear;

  .main-sections__content {
    position: relative;
    z-index: 999;

    pointer-events: none;

    img, .pdfobject-container, .main-carousel {
      pointer-events: all;
    }
  }

  .section {
    padding: 60px 15px;
  }
}

.down-arrow {
  cursor: pointer;
  margin: 0 !important;
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.15s linear;

  &.show {
    opacity: 1;
  }
}

.interactive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.plinth {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 10px 5px white;
  opacity: 0;
  transition: opacity 1s ease;
  &:hover {
    opacity: 1;
  }
}
